{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Siti Nurlaila</title>

    <link rel="shortcut icon" type="text/css" href="{% static "images/star.png"%}" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{%static "style.css" %}">
    <link rel="stylesheet" type="text/css" href="{%static "story8.css" %}">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #000000";>
  <a class="navbar-brand" href="">
    <a href="{% url "home" %}"><img src="{% static "images/laila.png"%}" width="50" height="30" alt=""></a>
  </a>
  <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon";></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url "home" %}">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Projects
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {% comment %} <a class="dropdown-item" href="{% url "rekomendasi" %}">Rec. Novel</a> {% endcomment %}
          <a class="dropdown-item" href="{% url "webproject" %}">Nobarkor.id</a>
          {% comment %} <a class="dropdown-item" href='/story1'>Story 1</a> {% endcomment %}
          <a class="dropdown-item" href='/activity/add/'>Add Activity</a>
          <a class="dropdown-item" href='/aboutme'>About Me</a>
       </li>
        <li class="nav-item">
        <a class="nav-link" href='/jadwal'>Schedule</a>
      </li>
      </li>
        <li class="nav-item">
        <a class="nav-link" href='/booksearch'>Booksearch</a>
      </li>
       </li>
        <li class="nav-item">
        <a class="nav-link" href= "/activity/add/">Activity</a>
      </li>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
      <li>
    </ul>
  </div>
</nav>

    <div id="judul-html">
      <div class="container">
        <img class="foto" src="{%static "images/starline.png" %}", width="50%">
        <h1 class="judul">Haii!! Let's find your fav book!</h1>
      </div>
    </div> 

    <div class="SearchBook">
    <div class="container ">
        <div class="judulSearchBook" >
            <h1><img src="https://img.icons8.com/material-rounded/24/000000/book-shelf.png"/><span class="ml-3"></span></h1>
                    
    </div>

    <div class="form-group">
    <div class="SearchBook2">
        <input class="form-control" type="text" placeholder="What are you looking for?"  id="textField" name="searchbar">
    </div> 

        <div class="table-responsive" style="margin-bottom:10% ">
            <table class="table table-hover">
                <thead class="judultable">
                    <tr class="table text-center" style="color:white">
                        <th scope="col">No</th>
                        <th scope="col">Cover</th>
                        <th scope="col">Title</th>
                        <th scope="col">Authors</th>
                        <th scope="col">Publisher</th>
                        <th scope="col">Published Date</th>
                    </tr>
                </thead>
                <tbody id="hasilSearch"></tbody>
            </table>
        </div>
    </div>
</div>

    <div id="contact">
        <div class="container">
            <img src= "{% static "images/starline.png"%}", width="50%">
            <h1 class="judul">Contact</h1>
            <h4>For further information :</h4>
            <h5>stnr.lailaa@gmail.com</h5>
        </div>
    </div>

  <div id="footer" class="copyright">
    <div class = "container">
        <div class="logo">
            <a href="https://www.instagram.com/?hl=id"><img src="{% static 'images/instagram.png' %}",  width ="4%" ></a>
            <a href="https://www.linkedin.com/in/sitinlaila/"><img src="{%static 'images/linkedin.png'%}", width='4%'> </a>
            </div>
            <p> All Rights Reserved. &copy; 2020 <a href="#">Laila</a></p>
        </div> 
    </div>
  </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'story8.js' %}"></script>
</body>

</html>
