{% extends 'base.html' %}

{% load static %}

{% block head %}{% endblock %}

{% block content %}

            <!-- Header Text -->
            <div id="judul-html">
                <div class="container">
                    <img class="foto" src="{%static "images/starline.png" %}", width="50%">
                    <h1 class="judul">Haiii!!</h1>
                </div>
            </div>
<div class= "container" style="background-color:#6e6a6afb; color:white; width:50%; margin-bottom:5%">
<div class="d-flex flex-column justify-content-center">
    {% if user.is_authenticated == False %}
            <div class="login content" style="align-items:center" >
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
    
    <div class="row">

        <div class="right-page col">
            <div class="login-content mx-5 my-5">

                <div class="title">
                    <h3>Sign in to your account</h3>
                </div>
            
            <form method="POST">
                        {% csrf_token %} 
                        {{ form }}
                        <div>
                            <button style="background-color:white; color: black"
                            type="submit" name="btn-login" id="btn-logIn" class="btn btn-dark mt-4">LOGIN</button>
                        </div>
                    </form>
                </div>
        
            <div class="info mt-5">
                    <p>
                        Don't have an account? <a class="sign-up-in-link"  href="/account/signup"><strong>Sign up.</strong></a>
                    </p>
                </div>
            </div>
        
            {% else %}
                <div class="success mt-5 ml-5">
                    <div class="btn-logout" >
                        <form action="/account/logout">
                            <input style="background-color:white; color: black" type="submit" id="btn-logOut" class="btn btn-dark" value="Log out">
                        </form>
                    </div>

                    <div class="greeting mt-5" style:"padding-bottom:5% ">
                        {% comment %} <h3>Welcome,</h3> {% endcomment %}
                        <h1 style="font-weight: 800px;"><span class="highlight">Anyeong, {{user.username}}!!</span></h1>

                    {% ifequal user.username  'Ainun' %}
                        <h2 style="padding-bottom:5%">HAPPY BIRTHDAY IBU DOKTER</h2>
                        <img src="{% static "images/ainun.jpeg" %}", width="30%" >

                        <audio controls>
                            <source src="{% static "hbd.mp3" %}" type="audio/mpeg">
                        </audio>

                        <h5 style="padding-top:5%">Akhirnya 19 tahun ya, nun..
                        Semoga tercapai semua keiginannya yaa..<br>
                        Kuliah lancar, rezeki lancar, pacar lancar, gibahan lancar juga ya nun, <br> 

                        Semoga kamu makin keren, makin baik, makin cantik, makin pinter!!
                        (biar mantan nyesel eeehh) <br>

                        Makasih yaa udah aku intensif nf nyaa :))), jadi ga enak gue nih ga jadi jadi traktir lu hehehe
                        Nanti kalo udah sukses gue traktir yang mewahan deh ya.. 
                        <br>Satu lagi, maaf banget ini jelek banget website nya wwkwkkw (jujur malu banget), tapi gpp demi kamu apa sih yang engga
                        <br>terakhir banget nih, ditunggu undangannya ibu dokter cantikkk<br>
                        </h5>

                        <h5  style="padding-top: 8%; padding-bottom:5%"> Love,
                        <br>
                        <br>
                        Lelaa </h5> 

                    {% endifequal %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div> 
</div>
</div> 
</div>
    {% comment %} <div class="container" style="background-color:#6e6a6afb; color:white; width:50% ">
    <div class="d-flex flex-column justify-content-center">
            {% if user.is_authenticated == False %}
            <div class="login content" style="align-items:center" >
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
                {% comment %} <div class="title"  style="padding-top:5%">
                    <h3>Sign in</h3>
                </div> {% endcomment %}
                {% comment %} <div class="login-form mx-auto" style="padding-top:2%">
                    <form method="POST">
                        {% csrf_token %} 
                        {{ form }}
                        <div>
                            <button style="background-color:white; color: black"
                            type="submit" name="btn-login" id="btn-logIn" class="btn btn-dark mt-4">LOGIN</button>
                        </div>
                    </form>
                </div>

                <div class="info mt-5">
                    <p>
                        Don't have an account? <a class="sign-up-in-link"  href="/account/signup"><strong>Sign up.</strong></a>
                    </p>
                </div>
            </div>

            {% else %}
                <div class="success mt-5 ml-5">
                    <div class="btn-logout" >
                        <form action="/account/logout">
                            <input style="background-color:white; color: black" type="submit" id="btn-logOut" class="btn btn-dark" value="Log out">
                        </form>
                    </div>

                    <div class="greeting mt-5" style:"padding-bottom:5% ">
                        <h3>Welcome,</h3>
                        <h1 style="font-weight: 800px;"><span class="highlight">{{user.username}}.</span></h1>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
</div>
</div> {% endcomment %} 

{% endblock content %}
