{% extends 'base.html' %}

{% load static %}
{% block head %} {% endblock %}
{% block content %}

           <!-- Header Text -->
            <div id="judul-html">
                <div class="container">
                    <img class="foto" src="{%static "images/starline.png" %}", width="50%">
                    <h1 class="judul">Sign Up</h1>
                </div>
            </div>
<div class= "container" style="background-color:#6e6a6afb; color:white; margin-bottom:5%; width:50%">
<div class="d-flex flex-column justify-content-center">
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
    
    <div class="row">

        <div class="right-page col">
            <div class="login-content mx-5 my-5">

                <div class="title">
                    <h3>Create a new account</h3>
                </div>
            
            <div class="register-form">
                <form method="POST">
                    {% csrf_token %} 
                    {{ form }}
                    <div>
                        <button type="submit" name="btn-signup" id='btn-signUp' class="btn btn-dark mt-4">SIGN UP</button>
                    </div>
                </form>
            </div>
        
            <div class="info mt-5">
                <p>
                    Have an account already? <a style="color:black" class="sign-up-in-link" href="{% url 'login' %}"><strong>Sign in.</strong></a>
                </p>
            </div>
        </div>
    </div> 
</div>
</div> 
</div>
{% endblock content %}
