{% extends 'base.html' %}
{% load static %}
{% block head %}{% endblock %}
{% block content %}

<div class="container" style="padding-top:10%">
<div class="jumbotron" >
  <h1 class="display-4">Yuk Susun Jadwal Kuliah!</h1>
  <p class="lead">Apa kamu termasuk orang yang susah atur jadwal? Atau lupa dengan jadwal sendiri? <br>
  Yuk, mulai bebenah diri dan susun jadwal kuliahmu di sini.</p>
  <hr class="my-4">
  <p>lets get start it!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" style="background:#00bcd4" href="#form " role="button">Susun Jadwal</a>
    <a class="btn btn-primary btn-lg" style="background:#00bcd4" href="{% url "lihat_jadwal" %}" role="button">Lihat Jadwal</a>
  </p>
</div>
</div>


  <div style="background-color: #E4E3E3;">
      <div style="text-align:center ">
        <img style="padding-top:2%" src="{%static "images/starline.png" %}", width="50%">
        <h1 class="judul">Jadwal</h1>

<form id="form" action="" method="POST">
    <div class="container">
    {% csrf_token %}
    {{ form }}

    <div class="form-group row" style="padding-top:5%">
    <div class="col-sm-10" >
      <input type="submit" class="btn btn-primary" style="background:#00bcd4" value="Save Jadwal">
     <small id="passwordHelpBlock" class="form-text text-muted">Jika kamu sudah selesai menginput dan ingin melihat jadwalmu, scroll ke atas dan klik button "lihat jadwal"</small>
    </div>

    </div>
  {% comment %} <div class="container">
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Nama Mata Kuliah</label>
    <div class="col-sm-10">
      <input type="matkul" class="form-control" id="inputEmail3">
      <small id="passwordHelpBlock" class="form-text text-muted">Masukkan mata kuliahmu</small>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Dosen Pengajar</label>
    <div class="col-sm-10">
      <input type="dosen" class="form-control" id="inputPassword3">
      <small id="passwordHelpBlock" class="form-text text-muted">Masukkan dosen mata kuliah di atas</small>
    </div>
  </div>
    <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Jumlah SKS</label>
    <div class="col-sm-10">
      <input type="sks" class="form-control" id="inputPassword3">
      <small id="passwordHelpBlock" class="form-text text-muted">Masukkan SKS (Satuan Kredit Semester) mata kuliah tersebut</small>
    </div>
  </div>
    <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Deskripsi Mata Kuliah</label>
    <div class="col-sm-10">
      <input type="deskripsi" class="form-control" id="inputPassword3" >
      <small id="passwordHelpBlock" class="form-text text-muted">Jelaskan mengenai mata kuliah ini. Kamu bisa masukkan info-info penting, seperti jadwal kuis, ujian, dll</small>
    </div>
  </div>
    <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Semester Tahun</label>
    <div class="col-sm-10">
      <input type="tahun" class="form-control" id="inputPassword3">
      <small id="passwordHelpBlock" class="form-text text-muted">Co : Gasal 2019/2020</small>
    </div>
  </div>
    <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Ruang Kelas</label>
    <div class="col-sm-10">
      <input type="kelas" class="form-control" id="inputPassword3">
      <small id="passwordHelpBlock" class="form-text text-muted"></small>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10" >
      <button type="submit" class="btn btn-primary" >Save Jadwal</button>
     <small id="passwordHelpBlock" class="form-text text-muted">Jika kamu sudah selesai menginput dan ingin melihat jadwalmu, scroll ke atas dan klik button "lihat jadwal"</small>
    </div>
  </div>
  </div> {% endcomment %}
</form>
    </div>
    </div>

{% endblock  %}