{% extends 'base.html' %}
{% load static %}
{% block head %}{% endblock %}
{% block content %}

{% comment %} <div style="background-color: #E4E3E3;"> {% endcomment %}
<div style="text-align:center; background-color: #E4E3E3;">
        <img class="foto" src="{%static "images/starline.png" %}", width="50%">
        <h1 class="judul">Jadwal Kuliah</h1>
        <a  href="{% url 'jadwal_form' %}">
        <button style="margin-top:1%; background:#00bcd4" class="btn btn-primary btn-lg" >Susun Jadwal</button>
        </a>
        <a  href="{% url 'lihat_jadwal' %}">
        <button style="margin-top:1%; background:#00bcd4" class="btn btn-primary btn-lg" >Lihat Jadwal</button>
        </a>
  <div class="container">
<div class="row" style="padding:5% 5% 5% 5%">
{% for jd in jadwal %}
<div class="card" style="width: 18rem; margin-left:4%; margin-bottom:4%">
  <div class="card-body" style="background:#191716">
    <h3 class="card-title judul" style="color:white">{{ jd.nama }}</h3>
    <p class="card-text teks" style="color:white">{{ jd.deskripsi }}</p>
  </div>
  <ul class="list-group list-group-flush" >
    <li class="list-group-item teks">{{ jd.dosen }}</li>
    <li class="list-group-item teks">{{ jd.ruang }}</li>
    <li class="list-group-item teks">{{ jd.semester }}</li>
    <li class="list-group-item teks">{{ jd.sks }}</li>
  </ul>
  <div class="card-body">
    <a href="{% url 'delete_jadwal' id=jd.pk %}">
        <button class="btn btn-primary btn-lg" style="background:#00bcd4">Hapus</button>
    </a>
  </div>
</div>
 {% endfor %}
  </div>
</div>
</div> 

{% endblock  %}