{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{%static "story7.css" %}">
{% endblock %}

{% block content %}

        <!-- Header Text -->
    <div id="judul-html">
      <div class="container">
        <img class="foto" src="{%static "images/starline.png" %}", width="50%">
        <h1 class="judul">Hello!!</h1>
      </div>
    </div>
  
    <div class="accordion-container mx-auto">
    <div class="accordion mx-auto" id="accordionExample275">
                    <!-- CARD 1 -->
                    <div class="accordion1 card z-depth-0 bordered" style="order:1;background-color:#ffcfdf">
                      <div class="card-header row" id="headingOne2">

                        <!-- Card title -->
                        <h5 class="mb-0 col">
                          <button class="btn2" type="button" style="font-size:x-large" data-toggle="collapse" data-target="#collapseOne2"
                            aria-expanded="true" aria-controls="collapseOne2">
                            * Activities
                          </button>
                        </h5>

                        <!-- Buttons -->
                        <div class="accordion-buttons col-2 d-flex justify-content-flex">
                          <div class="button-up" id="up-accordion1">
                            <svg class="up bi bi-chevron-up mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 01.708 0l6 6a.5.5 0 01-.708.708L8 5.707l-5.646 5.647a.5.5 0 01-.708-.708l6-6z" clip-rule="evenodd"></path>
                            </svg>
                          </div>
                          <div class="button-down" id="down-accordion1">
                            <svg class="down bi bi-chevron-down mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z" clip-rule="evenodd"></path>
                            </svg>
                          </div>
                      </div>
      
                      </div>
                      <!-- Collapse content -->
                      <div id="collapseOne2" class="collapse" aria-labelledby="headingOne2"
                        data-parent="#accordionExample275">
                        <div class="card-body">
                            Ngerjain tugas, makan, tidur, mandi, dst.. <br>
                            Memikirkan aktivitas apa ya yang menarik. Hm....
                        </div>
                      </div>
                    </div>

                     <!-- CARD 2 -->
                    <div class="accordion2 card z-depth-0 bordered" style="order:2; background-color:#fefdca">
                      <div class="card-header row" id="headingTwo2">
                        <!-- Card title -->
                        <h5 class="mb-0 col">
                          <button class="btn2 btn-link collapsed" style="font-size:x-large" type="button" data-toggle="collapse"
                            data-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                            * Experiences
                          </button>
                        </h5>

                        <!-- Buttons -->
                        <div class="accordion-buttons col-2 d-flex justify-content-flex">
                            <div class="button-up" id="up-accordion2">
                              <svg class="up bi bi-chevron-up mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 01.708 0l6 6a.5.5 0 01-.708.708L8 5.707l-5.646 5.647a.5.5 0 01-.708-.708l6-6z" clip-rule="evenodd"></path>
                              </svg>
                            </div>
                            <div class="button-down" id="down-accordion2">
                              <svg class="down bi bi-chevron-down mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z" clip-rule="evenodd"></path>
                              </svg>
                            </div>
                        </div>
                      </div>
                    
                       <!-- Collapse content -->
                      <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2"
                        data-parent="#accordionExample275">
                        <div class="card-body">
                           Alhamdulillah <br>
                           Udah ga se ansos pas SMA <br>
                        </div>
                      </div>
                    </div>

                     <!-- CARD 2 -->
                    <div class="accordion2 card z-depth-0 bordered" style="order:3; background-color:#e0f9b5">
                      <div class="card-header row" id="headingThree2">
                        <!-- Card title -->
                        <h5 class="mb-0 col">
                          <button class="btn2 btn-link collapsed" style="font-size:x-large" type="button" data-toggle="collapse"
                            data-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
                            * Achievements
                          </button>
                        </h5>

                        <!-- Buttons -->
                        <div class="accordion-buttons col-2 d-flex justify-content-flex">
                            <div class="button-up" id="up-accordion2">
                              <svg class="up bi bi-chevron-up mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 01.708 0l6 6a.5.5 0 01-.708.708L8 5.707l-5.646 5.647a.5.5 0 01-.708-.708l6-6z" clip-rule="evenodd"></path>
                              </svg>
                            </div>
                            <div class="button-down" id="down-accordion2">
                              <svg class="down bi bi-chevron-down mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z" clip-rule="evenodd"></path>
                              </svg>
                            </div>
                        </div>
                      </div>
                    
                       <!-- Collapse content -->
                      <div id="collapseThree2" class="collapse" aria-labelledby="headingThree2"
                        data-parent="#accordionExample275">
                        <div class="card-body">
                           MASUK SURGA <br>
                           Aamiin.. <br>
                        </div>
                      </div>
                    </div>

                     <!-- CARD 3 -->
                    <div class="accordion3 card z-depth-0 bordered" style="order:4; background-color:#a5dee5">
                      <div class="card-header row" id="headingFour2">
                        <!-- Card title -->
                        <h5 class="mb-0 col">
                          <button class="btn2 btn-link collapsed" style="font-size:x-large" type="button" data-toggle="collapse"
                            data-target="#collapseFour2" aria-expanded="false" aria-controls="collapseFour2">
                            * Favourite
                          </button>
                        </h5>

                        <!-- Buttons -->
                        <div class="accordion-buttons col-2 d-flex flex justify-content-flex">
                            <div class="button-up" id="up-accordion3">
                              <svg class="up bi bi-chevron-up mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 01.708 0l6 6a.5.5 0 01-.708.708L8 5.707l-5.646 5.647a.5.5 0 01-.708-.708l6-6z" clip-rule="evenodd"></path>
                              </svg>
                            </div>
                            <div class="button-down" id="down-accordion3">
                              <svg class="down bi bi-chevron-down mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z" clip-rule="evenodd"></path>
                              </svg>
                            </div>
                        </div>
                      </div>

                       <!-- Collapse content -->
                      <div id="collapseFour2" class="collapse" aria-labelledby="headingFour2"
                        data-parent="#accordionExample275">
                        <div class="card-body">
                           Family <br>
                           Food <br>
                           Freedom <br>
                        </div>
                      </div>
                    </div>
                  </div>                  

    </div>
            
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="{% static 'story7.js' %}"></script>

{% endblock  %}