@font-face{font-family:'tienne'; src:url(fonts/Tienne-Regular.ttf);} 
@font-face{font-family:'salsa'; src:url(fonts/Salsa-Regular.ttf);}

a {
  color: #ffffff !important;
  font-family: tienne;
}

.navbar {
  background-color: #000000;
}

#hero {
  width: 100%;
  height: calc(100vh - 40px);
  background: url("images/mypict.png") center center;
  background-size: cover;
  position: relative;
  margin-top: 50px;
  padding: 0;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  z-index: 2;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 50px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  font-family: salsa;
}

#hero h2 {
  color: #fff;
  margin-bottom: 35px;
  font-size: 24px;
  font-family: tienne;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 4px;
  transition: 0.5s;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-get-started:hover {
  /* border-color: #1bac91; */
  background: #000000;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
  
}

@media (max-width: 992px) {
  #hero {
    margin-top: 40px;
    height: calc(100vh - 40px);
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  background-color: #000000;
}

.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #6e6a6afb;;
}

body {
  /* text-align: center; */
  font-family: tienne;
  line-height: 1.80857;
}

#about {
  width: 100%;
  height: calc(100vh - 40px);
  background-color: #E4E3E3;
  text-align: center;
}

@media (min-width: 1024px) {
  #about {
    background-attachment: fixed;
  }
}

#education {
  width: 100%;
  height: calc(100vh - 40px);
  text-align: center;
}

#skill {
  width: 100%;
  height: calc(100vh - 40px);
  background-color: #E4E3E3;
  text-align: center;
}

#contact {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  background-color: #ffffff;
}

.foto {
  padding-top: 10%;
}

.teks{
  padding-top: 2%;
  font-family: tienne;
  line-height: 1.5em
}

.judul{
  padding-top: 2%;
  font-family: salsa;
}

h1 {
  font-size: 37px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 16px
}

h6 {
  font-size: 8px
}

#judul-html {
  margin-top: 8%;
  width: 100%;
  height: 100%;
  font-family: salsa;
  text-align: center;
  margin-bottom: 5%;
}

#footer {
  background: #000000;
  padding: 0 0 10px 0;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

#footer .copyright {
  padding-top: 10%;
  text-align: center;
}

.jumbotron {
  background-image: url("images/jum4.jpg");
  background-size: 100% 100%;
}

#form {
  text-align: left;
  padding-top: 5%;
  background-color: #E4E3E3;
  padding-bottom: 5%;
  font-family: tienne;
  line-height: 1.80857;
}
