{% extends 'base.html' %}
{% load static %}

{% block head %}{% endblock %}

{% block content %}

<div class="container" style="padding-top:10%">
<div class="jumbotron" >
  <h1 class="display-4">Yuk Susun Aktivitasmu!</h1>
  <p class="lead">Apa kamu termasuk orang yang susah atur jadwal? Atau lupa dengan jadwal sendiri? <br>
  Yuk, mulai bebenah diri dan susun aktivitasmu di sini.</p>
  <hr class="my-4">
  <p>lets get start it!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" style="background:#00bcd4" href="#form " role="button">Tambah Aktivitas</a>
    <a class="btn btn-primary btn-lg" style="background:#00bcd4" href="{% url "listactivity" %}" role="button">List Activity</a>
  </p>
</div>
</div>


  <div style="background-color: #E4E3E3;">
      <div style="text-align:center ">
        <img style="padding-top:2%" src="{%static "images/starline.png" %}", width="50%">
        <h1 class="judul">Tambah Aktivitas</h1>

<form id="form" action="" method="POST">
    <div class="container">
    {% csrf_token %}
    <div class="form-group">
        <div class="text-sm">
            {{form.nama_kegiatan.label_tag}}
        </div>
            {{form.nama_kegiatan}}
    </div>
    
    <div class="form-group">
        <div class="text-sm">
            {{form.deskripsi_kegiatan.label_tag}}
        </div>
            {{form.deskripsi_kegiatan}}
    </div>


    <div class="form-group row" style="padding-top:5%">
    <div class="col-sm-10" >
      <input type="submit" class="btn btn-primary" style="background:#00bcd4" value="Save Jadwal">
     <small id="passwordHelpBlock" class="form-text text-muted">Jika kamu sudah selesai menginput dan ingin melihat aktivitasmu, scroll ke atas dan klik button "lihat jadwal"</small>
    </div>

    </div>
    </form>
    </div>
    </div> 
{% endblock  %}

