{% extends 'base.html' %}
{% load static %}

{% block head %}{% endblock %}

{% block content %}
<div style="text-align:center; background-color: #E4E3E3;">
        <img class="foto" src="{%static "images/starline.png" %}", width="50%">
        <h1 class="judul">List Aktivitas</h1>
         <a  href="{% url 'addactivity' %}">
        <button style="margin-top:1%; background:#00bcd4" class="btn btn-primary btn-lg" > Tambah Aktivitas</button>
        </a>
        {% comment %} <a  href="{% url 'lihat_jadwal' %}">
        <button style="margin-top:1%; background:#00bcd4" class="btn btn-primary btn-lg" >Lihat Jadwal</button>
        </a>  {% endcomment %}
<div style="font-family: tienne;" class="row w-100 justify-content-center">
        {% for x in kegiatan %}
        <div class="col-4 m-4 p-4 rounded border">
            <ul class="list-group">
                <li class="list-group-item list-group-item-secondary"> <b> {{ x.nama_kegiatan }} </b> </li>

                {% for y in orang %}
                {% if y.kegiatan == x %}
                <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                        {{ y.nama_orang }}
                        <button>
                            <a href="{% url 'delete' delete_id=y.pk %}">x</a>
                        </button>

                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>

            <div style="font-size: .75em;" class="section-title mx-auto text-center my-3">

                <a href="{%url 'register' task_id=x.pk%}" class="btnMatkul">
                    <button> Register Yourself!</button>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

</div>



{% endblock %}