{% extends 'base.html' %}
{%load static%}

{% block head %}{% endblock %}

{% block content %}

<div class="container" style:"padding-top:10%; ">
    {% comment %} <div style:"text-align:center"> {% endcomment %}
      <img class="foto" style:"text-align:center" src="{%static "images/starline.png" %}", width="50%">
        <h1 class="judul">Join Activity</h1>
        <div style="font-family: tienne;">

            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div>
                        {{form.nama_orang.label_tag}}
                    </div>
                    {{form.nama_orang}}
                </div>
                <a href="" >
                    <button class="btn btn-primary btn-lg" type="submit">Ikutan!</button>
                </a>
            </form>
        </div>

    </div>
</div>
<!-- <a href="/list">list all</a> -->
{% endblock content %}
