{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Siti Nurlaila</title>

    <link rel="shortcut icon" type="text/css" href="{% static "images/star.png"%}" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{%static "style.css" %}">

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #000000";>
  <a class="navbar-brand" href="">
    <a href="{% url "home" %}"><img src="{% static "images/laila.png"%}" width="50" height="30" alt=""></a>
  </a>
  <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon";></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url "home" %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#education">Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#skill">Skill</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Projects
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {% comment %} <a class="dropdown-item" href="{% url "rekomendasi" %}">Rec. Novel</a> {% endcomment %}
          <a class="dropdown-item" href="{% url "webproject" %}">Nobarkor.id</a>
          {% comment %} <a class="dropdown-item" href='/story1'>Story 1</a> {% endcomment %}
          <a class="dropdown-item" href='/jadwal'>Jadwal</a>
          <a class="dropdown-item" href='activity/add/'>Add Activity</a>   
          <a class="dropdown-item" href='/aboutme'>About Me</a> 
          <a class="dropdown-item" href='/booksearch'>Booksearch</a> 
          <a class="dropdown-item" href='/account/login'>Account</a> 
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
      <li>
    </ul>
  </div>
</nav>

<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-center">
      <h1>Hello, I'm Siti Nurlaila</h1>
      <h2>and they are my favorite people</h2>
      <a href="#about" class="btn-get-started scrollto">About me</a>
    </div>
    </section><!-- End Hero -->

  <div id="about" class=" justify-content-center align-items-center">
      <div class="container">
          <img class="foto" src="{% static 'images/starline.png' %}", width="50%">
            <h1 class="judul">About Me</h1>
            <h3 class="teks">I have a lot of dreams, I like<br>
            exploring interesting thing, and I enjoy<br>
            being challenging</h3>
            <h3 class= "teks">If you want to know me more deeply,<br>
            click the star below</h3>
            <a href="{% url "profil" %}"><img src="{% static "images/star.png"%}" width=" 10%"></a>
      </div>
    </div>

    <div id="education" class=" justify-content-center align-items-center">
      <div class="container">
            <img class="foto" src="{% static 'images/starline.png' %}", width="50%">
            <h1 class="judul">Education </h1>
            <h3 class="teks">Universitas Indonesia</h3>
            <h4>(2019 - present)</h4>
            <h3 class="teks">SMAN 1 Depok</h3>
            <h4>(2016 - 2019)</h4>
            <h3 class="teks">SMPN 5 Depok</h3>
            <h4>(2013 - 2016)</h4>
      </div>
    </div>

    <div id="skill" class="justify-content-center align-items-center" >
      <div class="container">
            <img class="foto" src="{% static 'images/starline.png' %}", width="50%">
            <h1 class="judul">Skill</h1>
            <h3 class="teks" >Programming</h3>
            <h4>(Python, Java)</h4>
            <h3 class="teks" >Creative Thinking</h3>
            <h3 class="teks">Teamwork</h3>
            <h3 class="teks">Microsoft Office</h3>
      </div>
    </div>

  <div id="contact">
        <div class="container">
            <img src= "{% static "images/starline.png"%}", width="50%">
            <h1 class="judul">Contact</h1>
            <h4>For further information :</h4>
            <h5>stnr.lailaa@gmail.com</h5>
        </div>
    </div>

  <div id="footer" class="copyright">
    <div class = "container">
        <div class="logo">
            <a href="https://www.instagram.com/?hl=id"><img src="{% static 'images/instagram.png' %}",  width ="4%" ></a>
            <a href="https://www.linkedin.com/in/sitinlaila/"><img src="{%static 'images/linkedin.png'%}", width='4%'> </a>
            </div>
            <p> All Rights Reserved. &copy; 2020 <a href="#">Laila</a></p>
        </div> 
    </div>
  </div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>


{% comment %} {% extends 'base.html' %}
{% load static %}

{% block content %}
 <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-center">
      <h1>Hello, I'm Siti Nurlaila</h1>
      <h2>and they are my favorite people</h2>
      <a href="#about" class="btn-get-started scrollto">About me</a>
    </div>
    </section><!-- End Hero -->

  <div id="about" class=" justify-content-center align-items-center">
      <div class="container">
          <img class="foto" src="{% static 'images/starline.png' %}", width="50%">
            <h1 class="judul">About Me</h1>
            <h3 class="teks">I have a lot of dreams, I like<br>
            exploring interesting thing, and I enjoy<br>
            being challenging</h3>
            <h3 class= "teks">If you want to know me more deeply,<br>
            click the star below</h3>
            <a href="{% url "profil" %}"><img src="{% static "images/star.png"%}" width=" 10%"></a>
      </div>
    </div>

    <div id="education" class=" justify-content-center align-items-center">
      <div class="container">
            <img class="foto" src="{% static 'images/starline.png' %}", width="50%">
            <h1 class="judul">Education </h1>
            <h3 class="teks">Universitas Indonesia</h3>
            <h4>(2019 - present)</h4>
            <h3 class="teks">SMAN 1 Depok</h3>
            <h4>(2016 - 2019)</h4>
            <h3 class="teks">SMPN 5 Depok</h3>
            <h4>(2013 - 2016)</h4>
      </div>
    </div>

    <div id="skill" class="justify-content-center align-items-center" >
      <div class="container">
            <img class="foto" src="{% static 'images/starline.png' %}", width="50%">
            <h1 class="judul">Skill</h1>
            <h3 class="teks" >Programming</h3>
            <h4>(Python, Java)</h4>
            <h3 class="teks" >Creative Thinking</h3>
            <h3 class="teks">Teamwork</h3>
            <h3 class="teks">Microsoft Office</h3>
      </div>
    </div>
{% endblock  %} {% endcomment %}