{% extends 'base.html' %}
{% load static %}

{% block head %}{% endblock %}

{% block content %}

<div id="judul-html">
      <div class="container">
        <img class="foto" src="{%static "images/starline.png" %}", width="50%">
        <h1 class="judul">Profil</h1>
        <img src="{% static "images/profil.jpg" %}", width="30%" >
    </div>
  </div>

  <div class="d-flex flex-column justify-content-center align-items-center " >
      <div class="container text-center text-md-center">
      <h3 class="teks">Name  : Siti Nurlaila</h3>
      <h3 class="teks">Age   : 19 y.o</h3>
      <h3 class="teks">Hobby : Reading, Watching</h3>
      <h3 class="teks">Commitee Experience :</h3>
      <ul  style="list-style-type: none";> 
        <li class="teks" style="font-size:18px">1. Staff of Student Advocation and Welfare<br>
               BEM Fasilkom UI | February 2020 - present</li>
        <li class="teks " style="font-size:18px">2. Staff Of Seminar COMPFEST <br>
               March 2020 - present </li>
        <li class="teks" style="font-size:18px">3. Mentor at OKK UI <br>
               June 2020 - present </li>
        <li class="teks" style="font-size:18px">4. Staff of Event at Perayaan Wisuda Fasilkom<br>
               Genap 2020/2021 | July 2020 - present </li>
      </ul>
      </div>
  </div>

{% endblock  %}