{% extends 'base.html' %}
{% load static %}

{% block head %}{% endblock %}

{% block content %}
<div id="judul-html">
      <div class="container">
        <img class="foto" src="{%static "images/starline.png" %}", width="50%">
        <h1 class="judul">Rekomendasi Novel Wattpad</h1>
    </div>
  </div>


      <div class="align-items-center justify-content-center" style="text-align:center">
        <div class="container">
          <h2 class= "judul">1. Invalidite</h2>
          <img src="{% static "images/novel/invalidite.jpg" %}"  width="15%">
          <h5 class="teks">Salah satu novel terfavorit, ceritanya sangat menarik. Alurnya tidak membosankan <br>
          ,pembaca bahkan akan tidak sadar kalau mereka sudah membaca sangat banyak halaman <br>
          Kalian akan terhanyut oleh alur ceritanya yang sangat "wow!<br>
          Mengisahkan seorang gadis cantik bernama Pelita dan seorang lelaki <br>
          yang hidupnya penuh dengan konflik, bernama Dewa. Mereka dipertemukan <br>
          takdir yang membuat mereka lebih mengerti arti kehidupan yang <br>
          sebenarnya. Yuk, baca cerita ini dan kalian akan terhanyut oleh cerita <br>
          Pelita Dewa.</h5>
        </div>
      </div> 

      <div class="align-items-center justify-content-center" style="text-align:center">
        <div class="container">
          <h2 class="judul">2. My Ice Girl</h2>
          <img src="{% static "images/novel/icegirl.jpg" %}"  width="15%">
          <h5 class="teks">Yang ini juga ga kalah favorit, ceritanya susah ditebak. Selain kisah cintanya,  <br>
          pembaca juga akan dibuat tercengang dengan kisah misterinya. Benar-benar top!<br>
          Dan pastinya kalian akan terhanyut oleh alur ceritanya yang sangat "wow!<br>
          Mengisahkan seorang cowo konyol bernama Malik. Malik menyukai Dara, dan Dara <br>
          membenci Malik. Namun, takdir membuat mereka jadi lebih dekat dan ... <br>
          silahkan baca sendiri kelanjutan ceritanya!!</h5>
        </div>
      </div>
{% endblock  %}