{% extends 'base.html' %}
{% load static %}

{% block head %}{% endblock %}

{% block content %}

  {% comment %} <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #000000";>
    <a href="{% url "home" %}"><img src="{% static "images/back.png"%}" width="30" alt=""></a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href=" "><img src="{% static "images/laila.png"%}" width="50" height="30" alt=""></a>
      </li>
    </ul>
  </div>
</nav> {% endcomment %}

<div id="judul-html">
    <div class="container">
        <img class="foto" src="{%static "images/starline.png" %}", width="55%">
        <h1 class="judul">Project Website : Nobarkor.id</h1>
    </div>
  </div>

  <div style="background-color: #E4E3E3; text-align:center">
    <div class="container">
        <img class="align-items-left" style="padding-top:5%" 
        src="{% static "images/nobarkor.png" %}" width="60%"</img>
        <h2 class="teks">Apa itu Nobarkor.id?</h2> 
        <h4 class="teks"> Nobarkor.id (Nonton Bareng Drama Korea) adalah sebuah website<br>
        yang menyajikan rekomendasi drama korea pilihan.<br> Website ini ditujukan untuk kamu
        yang suka banget nonton drama korea..<br> atau kamu yang ingin nonton drama korea tapi
        bingung mau nonton apa.<br> Kok gitu? <br>
        Karena Nobarkor tak hanya menyediakan list drama korea pilihan,<br> tapi kamu 
        juga bisa lihat sinopsis, pemeran, genre, sampai rating!<br> dari 70++ drama korea yang ada.</h4>       
        <h4 class="teks"> Buat kamu yang penasaran sama websitenya, langsung aja <br>
        klik bintang di bawah ini, </h4>
        <a href="https://nobarkorid.herokuapp.com/"><img src="{% static "images/star.png"%}" width=" 10%"></a>
        {% comment %} <h4 class"teks" style="padding-top:2%"%>background : Nobarkor dibuat sebagai pemenuhan tugas tambahan <br> 
        mata kuliah Dasar-Dasar Pemrograman 2 yang dibuat secara berkelompok.</h4> {% endcomment %}
        <h5 class="teks" style="padding-top:5%"> Special thanks to Ayuka Sonohata dan Alifah Fatimah, akhirnya website kita bisa di pamerin!</h4>
    </div>
  </div>
{% endblock %}