.accordion-container {
    display: flex;
    width: 80%;
    margin-bottom: 5%;
}

.accordion {
    width: 100%;
    font-size: medium;
    font-family: salsa;
    /* margin-bottom: 2%; */
}
.collapse {
    /* width : 100%; */
    overflow: hidden;
}
.card {
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.accordion-buttons svg {
    cursor: pointer;
}

.card {
    background-color: var(--second-color);
    color: var(--panel-color)
}

.btn2 {
    color: var(--title-color);
    border: none;
    background-color: transparent;
    
}

.card-body {
    font-family: tienne;
    background-color: white;
}
